<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BrightstarDB.Platform" version="1.11.0.0" targetFramework="wp8" />
  <package id="BrightstarDBLibs" version="1.11.0.0" targetFramework="wp8" />
  <package id="dotNetRDF" version="1.0.9.3683" targetFramework="wp8" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="wp8" />
  <package id="SharpSerializer.PCL" version="2.18.7" targetFramework="wp8" />
  <package id="VDS.Common" version="1.6.0" targetFramework="wp8" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp8" />
  <package id="Xamarin.Forms" version="1.4.3.6376" targetFramework="wp8" />
</packages>