<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BrightstarDB.Platform" version="1.11.0.0" targetFramework="monoandroid5" />
  <package id="BrightstarDBLibs" version="1.11.0.0" targetFramework="monoandroid5" />
  <package id="dotNetRDF" version="1.0.9.3683" targetFramework="monoandroid5" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="monoandroid5" />
  <package id="SharpSerializer.PCL" version="2.18.7" targetFramework="monoandroid5" />
  <package id="VDS.Common" version="1.6.0" targetFramework="monoandroid5" />
  <package id="Xamarin.Android.Support.v4" version="22.2.0.0" targetFramework="monoandroid5" />
  <package id="Xamarin.Forms" version="1.4.3.6376" targetFramework="monoandroid5" />
</packages>